@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.input {
  background: #f2f2f2;
}
  
.formField {
  margin: 10px 0 10px 0;
  min-width: 500px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'Press Start 2P';
}
.formButton {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'Press Start 2P';
  background-color:  #00692f;
  color: antiquewhite;
}